* {
    margin: 0;
    padding: 0;
}
.container{
    background-color: purple;
}
.title-row,
.footer {
    background: linear-gradient(silver, whitesmoke);
}

#sub-title{
    text-align: right;
}

h1 {
    margin-bottom: 6px;
}

.row {
    padding: 1em;
}
.main-photo {
    width: 100%;
    height: 100%;
    border: 0.5em solid silver;
}

.sub-heading {
    background: linear-gradient(gray, whitesmoke);
    margin-top: 0;
    padding: 0.3em 0 0.1em 0.3em;
    width: 100%
}

.sub-content-column,
.portfolio-content {
    background: linear-gradient(to right, white, silver);
    padding:0;
}


.sub-content-column p,
.portfolio-content p {
    padding: 0.7em;
}

.tech-img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 15px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
}

.button {
    text-align: center;
    background: blue;
    margin: 10px 140px 20px 140px;
    color: wheat;
    border-radius: 20px;
}

.footer p {
    color: ghostwhite;
    text-align: center;
}
.footer img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}


