* { box-sizing: border-box; }

body{
    font-family: 'Lato', sans-serif;
}
.container {
    background-color: #2e5073;
}

.text-setting {
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: right;
}

.setting-col a {
    color: #b4a232;
}

.logo {
    width: 100%;
    height: auto%;
}

.search-box {
    margin-left: 50%;
    margin-top: 4%;
    background-color: #444444;
    border-radius: 10px;
}

.search,
.go {
    display: inline-block;
}

.search {
    border: 1px solid #878787;
    margin-left: 18%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: whitesmoke;
    padding: 5% 15%;
    color: gainsboro;
}

.go {
    background-color: #2e5073;
    color: gainsboro;
    border: 1px solid #878787;
    padding: 2% 5%;
    margin-left: 8%;
}


.navbar ul {
    background-color: #4e7ba8;
    margin-left: 10%;
    margin-right: 2%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}
.navbar ul li {
    display: inline;
    color: whitesmoke;
    font-size: 2em;
    margin-left: 2%;
}

#index {
    padding-left: 35%;
    
}

#index li {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    line-height: 1.7em;
    list-style-position: inside;
    text-indent: -10px;
}

.intro-col {
    text-align: center;
    color: whitesmoke;
}

.intro {
    padding-right: 5%;
}

.catch {
    color: #f4cf55;
    font-style: italic;
}

#explanation {
    background-color: white;
}

.instruction {
    margin-left: 25%;
    text-align: center;
    border-top: 3px solid blue;
}


@media only screen and (max-width: 768px) {
    .search-box {
        margin-left: 5%;
    }
}