@{
    ViewData["Title"] = "Customers Page";
}

@model ecomerce.Models.CustomerViewModel
<div class="row">
    <div class="col-sm-12">
        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li><a asp-controller="Home" asp-action="Index">Products</a></li>
            <li><a asp-controller="Home" asp-action="Index">Orders</a></li>
            <li><a style="color:black" asp-controller="Home" asp-action="Index">Customers</a></li>
            <li><a asp-controller="Home" asp-action="Index">Settings</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Add a new customer</h3>
        <form asp-controller="Home" asp-action="Customers" method="POST">
            <div class="form-group">
                <label for="restaurant">Customer Name</label>
                <input asp-for="Name" name="Name" type="text" aria-describedby="nameHelp" class="form-control" id="restaurant" placeholder="Master Yoda">
                <small id="nameHelp" class="form-text text-muted"><span asp-validation-for="Name"></span></small>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    </div>
</div>