@{ ViewData["Title"] = "Customers Page"; } 
@model ecomerce.Models.CustomerViewModel
<div class="row">
    <div class="col-sm-12">
        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li><a asp-controller="Home" asp-action="Products">Products</a></li>
            <li><a asp-controller="Home" asp-action="Orders">Orders</a></li>
            <li><a style="color:black" asp-controller="Home" asp-action="Customers">Customers</a></li>
            <li><a asp-controller="Home" asp-action="Index">Settings</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Add a new customer</h3>
        <form asp-controller="Home" asp-action="Customers" method="POST">
            <div class="form-group">
                <label for="restaurant">Customer Name</label>
                <input asp-for="Name" name="Name" type="text" aria-describedby="nameHelp" class="form-control" id="restaurant" placeholder="Master Yoda">
                <small id="nameHelp" class="form-text text-muted"><span class="validation-text" asp-validation-for="Name"></span></small>
                 @{
                        if(ViewBag.Error != null){
                             <small id="nameHelp" class="error-message form-text text-muted">@ViewBag.Error</small>
                        }
                    }
               

            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               @{
                foreach(var customer in ViewBag.Customers){

                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.CreatedAt</td>
                    <td><a asp-controller="Home" asp-action="RemoveCustomer" asp-route-id="@customer.Id">Remove</a></td>
                </tr>
                }
               }
             
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>