@{
    ViewData["Title"] = "Sungin-Commerce";
}

<div class="row">
    <div class="col-sm-12">
        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li><a asp-controller="Home" asp-action="Index">Products</a></li>
            <li><a asp-controller="Home" asp-action="Index">Orders</a></li>
            <li><a asp-controller="Home" asp-action="Index">Customers</a></li>
            <li><a asp-controller="Home" asp-action="Index">Settings</a></li>
        </ul>
    </div>
</div>