<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h3>Add A Trail</h3>
        <a class="home" href="/">Go Home</a>
        @{
            foreach(var error in ViewBag.erros){
                if(@error.Errors.Count > 0){
                    <p>@error.Errors[0].ErrorMessage</p>
                }
            }
        }
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form action="add" method="POST">
            <div class="form-group">
                <label for="name">Trail Name</label>
                <input type="text" name="Name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Trail Name">
                <small id="nameHelp" class="form-text text-muted">What's the Trail Name?</small>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea row="3" name="Description" class="form-control" id="description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="length">Trail Length</label>
                <input type="number" name="Length" class="form-control" aria-describedby="lengthHelp" id="length" placeholder="Length">
                <small id="lengthHelp" class="form-text text-muted">Give us in Mile</small>
            </div>
            <div class="form-group">
                <label for="elevation">Elevation Gain</label>
                <input type="number" name="ElevationGain" class="form-control" aria-describedby="elevationHelp" id="elevation" placeholder="Elevation">
                <small id="elevationHelp" class="form-text text-muted">Give us in Feet</small>
            </div>
            <div class="form-group">
                <label for="longtitude">Longtitude</label>
                <input type="text" name="Longtitude" class="form-control" aria-describedby="longtitudeHelp" id="longtitude" placeholder="Longtitude">
                <small id="longtitudeHelp" class="form-text text-muted">Yes it is annoying</small>
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" name="Latitude" class="form-control" aria-describedby="latitudeHelp" id="latitude" placeholder="Latitude">
                <small id="latitudeHelp" class="form-text text-muted">Yes it is annoying</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>