@{ ViewData["Title"] = "Lost In the Woods"; } 
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h3>Lost in the Woods</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Trail Name</th>
                    <th>Trail Length</th>
                    <th>Elevation Gain</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var trail in ViewBag.Trails){
                        <tr>
                            <th scope="row">@trail.Id</th>
                            <td><a href="show/@trail.Id">@trail.Name</a></td>
                            <td>@trail.Length Miles</td>
                            <td>@trail.ElevationGain Feet</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a href="add" class="add-btn btn btn-warning">Add a Trail!</a>
    </div>
</div>