<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Users</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% if users %}
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>id</th>
                           <th>Name</th>
                           <th>Email</th>
                           <th>Created At</th>
                           <th>Action</th>
                       </tr>
                   </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>
                            <td>
                                <a href="{%url 'restful:show' id=user.id %}">Show</a>
                                <a href="{%url 'restful:edit' id=user.id %}">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
               </table>
               {% endif %}
               <a href="{% url 'restful:new'%}">Add New User</a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>

</html>