<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>User Info</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Name: {{user.name}}</h1>
                <h2>Email: {{user.email}}</h2>
                <h3>Created At: {{user.created_at}}</h3>
                <a href="{%url 'restful:index'%}">Go Back</a>
                <a href="{%url 'restful:edit' id=user.id%}">Edit</a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </body>
</html>