* { box-sizing: border-box; }

html,
body {
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
    height: auto;
    border: 2px solid gray;
}

.row { margin-bottom: 5%;}

.btn { width: 100%; }