* { box-sizing: border-box;}

h1 {
    color: rosybrown;
}

.container { padding: 2%; }

.btn { 
    margin-top: 25%;
    margin-left: 15%;
}

.row { border-bottom: 2px solid blueviolet; }

.show-h3 {display: none;}
