* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    border: 4px solid orangered;
    background-color: black;
}

h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    color: whitesmoke;
}

h3 { 
    text-align: center;
    margin-top: 7%;
    color: white;
}

.selection-card {
    border: 2px solid yellow;
    margin-top: 7%;
    padding: 1% 1% 1% 1%;
}

.btn {
    width:25%;
    margin: 3% 3% 3% 4.5%; 
}

 .option-row {
    display: none;
}

.p1-col { padding: 0% 0% 5% 0%;}

.p1-col img{
    width: 80%;
    margin-left: 5%;
}

.p2-col img{
    width: 90%;
    margin-right: 5%;
}

.sub-heading { color: orangered; }