<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Success</title>
    </head>
    <body>
    <div class="container">
         <div class="row">
             <div class="col-sm-3"></div>
             <div class="col-sm-6">
                 <h2>The email you entered, {{email}} is valid!</h2>
             </div>
             <div class="col-sm-3"></div>
         </div>
        <div class="row">
             <div class="col-sm-3"></div>
             <div class="col-sm-6">
                 <h2>The email you entered so far: </h2>
                 {% for user in emails %}
                    <p>{{user["email"]}}:    {{user["created_at"]}}</p>
                 {% endfor %}
             </div>
             <div class="col-sm-3"></div>
        </div>
    </div>
    </body>
</html>