<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
      <title>Hi!</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Name: @ViewBag.Name</p>
                <p>Location: @ViewBag.Location</p>
                <p>Favorite Language: @ViewBag.Favlang</p>
                <p>Comment: @ViewBag.Comment</p>
            </div>
        </div>
    </div>
    </body>
</html>