<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Add Travel Plan</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Add New Travel Plan</h3>
                 {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                <form action="{%url 'belt:create'%}" method="POST">
                     {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="type" value="create">
                        <label for="destination"> Destination</label>
                        <input type="text" class="form-control" id="destination" name="destination" placeholder="e.g. Chicago">
                        <label for="plan">Plan</label>
                        <input type="text" class="form-control" id="plan" name="plan" placeholder="Plan">
                        <label for="start">Start Date</label>
                        <input type="date" class="form-control" id="start" name="start">
                        <label for="end">End Date</label>
                        <input type="date" class="form-control" id="end" name="end">
                    </div>
                    <button type="submit" class="btn btn-success">Add It</button>
                </form>
            </div>
            <div class="col-sm-2">
                <a href="{%url 'belt:show'%}">Home</a>
                <a href="{%url 'belt:destroy'%}"> Log Out</a>
            </div>
        </div>
    </div>
    </body>
</html>