* { 
    font-family: "Raleway", sans-serif;
    text-align: center;

}

.container { padding-top: 8%; }

h1,h3 {
    text-align: center;
}

h3 { margin-bottom: 6%; }

.box { 
    width: 200px;
    height: 200px;
    margin-left: 35%;
    margin-bottom: 5%;
}

.high-box{
    background-color: red;
}
.low-box{
    background-color: blueviolet;
}

.right-box{
    background-color: greenyellow;
}