<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='surveystyle.css')}}">

    <title>Dojo Survey</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-box">
                    <form class="form-horizontal" action="/result" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Your Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">Dojo Location</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="location">
                                    <option>Chicago</option>
                                    <option>San Diego</option>
                                    <option>New York</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="language" class="col-sm-2 control-label">Favorite language</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="language">
                                    <option>Python</option>
                                    <option>JavaScript</option>
                                    <option>C++</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label for="comment" class="commentboxlabel col-sm-2 control-label">Comment(optional)</label>
                                <textarea class="form-control commentbox" rows="5" name="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>