<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Edit User</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <h2>Edit User Info</h2>
                 <form action="/edit/{{user['id']}}" method="POST">
                    <div class="form-group">
                        <label for="name">Name </label>
                        <input type="text" class="form-control" id="name" name="name" value="{{user['name']}}">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" id="age" name="age" value="{{user['age']}}">
                    </div>
                    <button type="submit" class="btn btn-default">Edit Info</button>
                </form>
                <a href="/delete/{{user['id']}}">Delete</a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </body>
</html>