<div class="row">
    <div class="col-sm-12">
        <h1>@ViewBag.Ninja.Name</h1>
        <a asp-controller="Home" asp-action="ShowDojo" asp-route-id="@ViewBag.Dojo.Id"><h3>@ViewBag.Dojo.Name</h3></a>
    </div>
</div>