<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Great Number Game</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <h1>Welcome to the Great Number Game!</h1>
                <h3>I am thinking of a number between 1 and 100</h3>
                <h3>Take a Guess!</h3>
                {% if high == True %}
                    <div class="box high-box">
                        <h3>Too High</h3>
                    </div>
                {% elif low == True %}
                    <div class="box low-box">
                        <h3>Too Low</h3>
                    </div>
                {% elif right == True %}
                    <div class="box right-box">
                        <h3>Right!!</h3>
                        <h4>Wanna Play Again?</h4>
                        <form action="/reset">
                            <button type="submit">Hell Yes</button>
                        </form>
                    </div>
                {% endif %}
                {% if right != True %}
                <form action="/guess", method="POST">
                    <input type="number" name="guess" placeholder="Your Guess">
                    <button type="submit" class="btn btn-default">Guess!</button>
                </form>
                {% endif %}
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>
</body>
</html>